<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BI-OLAP1</display-name>
  <welcome-file-list>
    <welcome-file>jsp/login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GraphSalesServlet</display-name>
    <servlet-name>GraphSalesServlet</servlet-name>
    <servlet-class>edu.flash.biolap.servlet.GraphSalesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GraphSalesServlet</servlet-name>
    <url-pattern>/GraphSalesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductServlet</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>edu.flash.biolap.servlet.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/ProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>edu.flash.biolap.servlet.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>edu.flash.biolap.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>edu.flash.biolap.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WholeServlet</display-name>
    <servlet-name>WholeServlet</servlet-name>
    <servlet-class>edu.flash.biolap.servlet.WholeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WholeServlet</servlet-name>
    <url-pattern>/WholeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalesServlet</display-name>
    <servlet-name>SalesServlet</servlet-name>
    <servlet-class>edu.flash.biolap.servlet.SalesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalesServlet</servlet-name>
    <url-pattern>/SalesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WarehouseServlet</display-name>
    <servlet-name>WarehouseServlet</servlet-name>
    <servlet-class>edu.flash.biolap.servlet.WarehouseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WarehouseServlet</servlet-name>
    <url-pattern>/WarehouseServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>mondrian.web.taglib.Listener</listener-class>
  </listener>
  <listener>
    <listener-class>com.tonbeller.tbutils.res.ResourcesFactoryContextListener</listener-class>
  </listener>
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>
      <taglib-location>/WEB-INF/fmt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/fmt-rt</taglib-uri>
      <taglib-location>/WEB-INF/fmt-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/c.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/core-rt</taglib-uri>
      <taglib-location>/WEB-INF/c-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/sql</taglib-uri>
      <taglib-location>/WEB-INF/sql.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/sql-rt</taglib-uri>
      <taglib-location>/WEB-INF/sql-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/x</taglib-uri>
      <taglib-location>/WEB-INF/x.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/x-rt</taglib-uri>
      <taglib-location>/WEB-INF/x-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://www.tonbeller.com/wcf</taglib-uri>
      <taglib-location>/WEB-INF/wcf/wcf-tags.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://www.tonbeller.com/jpivot</taglib-uri>
      <taglib-location>/WEB-INF/jpivot/jpivot-tags.tld</taglib-location>
    </taglib>
  </jsp-config>
  <filter>
    <filter-name>JPivotController</filter-name>
    <filter-class>com.tonbeller.wcf.controller.RequestFilter</filter-class>
    <init-param>
      <param-name>indexJSP</param-name>
      <param-value>/*.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>errorJSP</param-name>
      <param-value>/error.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>busyJSP</param-name>
      <param-value>/busy.jsp</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>JPivotController</filter-name>
    <url-pattern>/testpage.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>Print</servlet-name>
    <servlet-class>com.tonbeller.jpivot.print.PrintServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Print</servlet-name>
    <url-pattern>/Print</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisplayChart</servlet-name>
    <servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetChart</servlet-name>
    <servlet-class>com.tonbeller.jpivot.chart.GetChart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayChart</servlet-name>
    <url-pattern>/DisplayChart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetChart</servlet-name>
    <url-pattern>/GetChart</url-pattern>
  </servlet-mapping>
</web-app>